<!--                    <h1 class="mt-4">Simple Sidebar</h1> 02indexCleanBlog-->
</div>
</div>
</div>
<!-- Bootstrap core JS-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<script src="/bootstrap-5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/SimpleSidebar/js/scripts.js"></script>

<footer class="py-5 bg-dark" >

    <div class="container px-5"><p class="m-0 text-left text-white" >吉林孚达律师事务所</p></div>
    <div class="container px-5"><p class="m-0 text-left text-white">地址：地址:延吉市站前街182号倍达创业大厦三层</p></div>
    <div class="container px-5"><p class="m-0 text-left text-white">电话：0433-2256677</p></div><br>
    <div class="container px-5"><p class="m-0 text-left text-white">Copyright &copy; Your Website 2024</p></div>

</footer>



</body>
</html>

