
    <body>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
<!--                    <body style="background-image:url('https://i.ibb.co/3493r17/cat.jpg')">-->
<!--                    <div style="background-image:url('<img src=images/FUDASHOUYE/Home.png>')">-->

<!--                    <img src="" alt="Lady Justice and a Gavel" loading="lazy" srcset="https://ybfd.my.canva.site/ybfd002/images/a425111a80025f53be43bf3a38a76f5e.jpg ">-->
<!--                    <img src="" alt="Lady Justice and a Gavel" loading="lazy" srcset="/images/FUDASHOUYE/Home.png ">-->
<!--                    <img src="" alt="Lady Justice and a Gavel" loading="lazy" srcset="/images/WANGYE/logo.png ">-->
                    <img src="" alt="Lady Justice and a Gavel" loading="lazy" srcset="/images/WANGYE/logo.png ">
<!--                    <img src="" alt="Lady Justice and a Gavel" loading="lazy" srcset="/images/WANGYE/nvshen.jpg ">-->

                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">吉林孚达律师事务所</h1><br>
                            <p class="lead text-white-50 text-white mb-4">秉正义以深孚众望, 持律剑为达济天下</p>
                            <p class="lead text-white-50 text-white mb-4">专业化、团队化、个性化、数字化,全方位、多层次、高效率</p>
                            <p class="lead text-white-50 text-white mb-4">法律咨询电话 ：<a href="tel:04332256677">04332256677</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
<!--                        <img src="" alt="Lady Justice and a Gavel" loading="lazy" srcset="/images/WANGYE/logo.png ">-->
                        <h2 class="h4 fw-bolder">关 于 我 们</h2>
                        <p>孚达律所介绍
                            吉林孚达律师事务所是由多名资深律师发起的合伙制律师事务所，于2006年3月经吉林省司法厅批准成立，是吉林省律师界信用等级最高级的“AAA”级律师事务所。
                        </p>
                        <a class="text-decoration-none" href="/fuda/jieshao">
                            律所介绍
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">孚达环境</h2>
                        <p>
                            吉林孚达律师事务所是由多名资深律师发起的合伙制律师事务所，于2006年3月经吉林省司法厅批准成立，是吉林省律师界信用等级最高级的“AAA”级律师事务所。
                        </p>
                        <a class="text-decoration-none" href="/fuda/huanjijng">
                            孚达环境
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">孚达律师介绍</h2>
                        <p>孚达现有合伙人6人，专职律师14人，</p>
                        <p>兼职律师1人，实习律师2人；</p>
                        <p>其中博士1人，硕士研究生4人。</p>
                        <a class="text-decoration-none" href="/fuda/chengyuan">
                            律师介绍
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>



        <!-- Pricing section-->
        <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">诚信为本、操守为重</h2>
                    <p class="lead mb-0">咨询-业务范畴</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card free-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
<!--                                <div class="small text-uppercase fw-bold text-muted">咨询</div>-->
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">咨询</span>
                                    <span class="text-muted"> </span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>政府法务</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        金融
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        房地产
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" href="/fuda/lianxiwomen">联系我们</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card pro-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">

                                <div class="mb-3">
                                    <span class="display-4 fw-bold">咨询</span>
                                    <span class="text-muted"> </span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>刑事</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        民事
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        纠纷
                                    </li>

                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" href="/fuda/lianxiwomen">联系我们</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card enterprise-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body p-5">
<!--                                <div class="small text-uppercase fw-bold text-muted">Enterprise</div>-->
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">咨询</span>
                                    <span class="text-muted">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>公司法律事务</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        涉外
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        医疗
                                    </li>
                                </ul>
<!--                                <div class="d-grid"><a class="btn btn-outline-primary" href="/fuda/lianxiwomen">联系我们</a></div>-->
                                <div class="d-grid"><a class="btn btn-primary" href="/fuda/lianxiwomen">联系我们</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">咨询案件</h2>
<!--                    <p class="lead mb-0">We'd love to hear from you</p>-->
                </div>

                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <form id="contactForm" class="container" action="/fuda/fdarticles/create" method="post" >
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="xingming" placeholder="姓 名..."  data-sb-validations="required" />
                                <label for="name">姓 名</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">姓名 不能空着</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="text" name="shoujihao" placeholder="您的手机号码..."  data-sb-validations="required" />
                                <label for="phone">您的手机号码</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">手机号 不能空着 </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" name="sweixin" placeholder="您的微信..."  data-sb-validations="required" />
                                <label for="name">您的微信</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">微信号 不能空着</div>
                            </div>

                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <!--                                <input class="form-control" id="email" type="text" name="youxiang" placeholder="name@example.com" data-sb-validations="required,email" />-->
                                <input class="form-control" id="email" type="text" name="youxiang" placeholder="name@example.com" />
                                <label for="email">您的邮箱</label>
                            </div>
                            <!-- Phone number input-->

                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" name="anjiangaishu" rows="10" placeholder="案件概述..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">案件概述</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">请填写 案件概述</div>
                            </div>
                            <!-- Submit Button-->
                            <div>
                                <div id="liveAlertPlaceholder"></div>
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

                                <div style="text-align: center;">
                                    <button class="btn btn-primary" type="submit" ><h3>提交</h3></button> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
