<iframe loading="lazy" style="position: relative; width: 100%; height: 600px; max-height: 80vh; border: none; padding: 0; margin: 0; overflow: hidden;"
        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGC2ogZzNU&#x2F;j39RO_EQimZCwI4JmZk1ig&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
</iframe>
<!--<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGC2ogZzNU&#x2F;j39RO_EQimZCwI4JmZk1ig&#x2F;view?utm_content=DAGC2ogZzNU&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">新闻</a>，作者 kkevin cui-->



