<hr><img src="/images/WANGYE/FUDAZHAOPIAN/办公2.jpg" class="img-fluid" alt="..."><hr>

<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">

            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">孚达现有合伙人6人</h2><br>
                <h2 class="h4 fw-bolder">专职律师14人</h2><br>
                <h2 class="h4 fw-bolder">兼职律师1人，实习律师2人；</h2><br>
                <h2 class="h4 fw-bolder">其中博士1人，硕士研究生4人</h2><br>
            </div>
        </div>
    </div>
</section>