<iframe loading="lazy" style="position: relative; width: 100%; height: 600px; max-height: 80vh; border: none; padding: 0; margin: 0; overflow: hidden;"
        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGCX7KLj_U&#x2F;HBbxfiCIaIUJ7GCaTQNewg&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
</iframe>
