
<div class="card text-center">
    <div class="card-header" style="font-size:3em;">联系我们 </div>
    <br>
    <div class="card-body">
        <h2 class="card-title" align="center" >孚达电话：<a href="tel:04332256677">0433-225-6677</a> </h2><br>
        <h2 align="center" >微信：LawyerPzc</h2>
    </div>
<img src="/images/WANGYE/WECHAT_20240407.png" class="rounded mx-auto d-block" alt="...">
<!--    <div class="card-footer text-body-secondary">-->
<!--        <h2 class="card-title" align="left">邮编:133000</h2>        <br>-->
<!--        <h2 class="card-title" align="left">地址:延吉市站前街182号倍达创业大厦三层 </h2>-->
<!--    </div>-->
</div>
