<header class="masthead" style="background-image: url('/startbootstrap-clean-blog-jekyll/img/posts/06.jpg')">

    <style type="text/css">
h1 { text-align: center; }
h2 { text-align: center; }
p {  text-align: left;
padding-left:25%;
width:50%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
    </style>

    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
<!--                    <h1>吉林孚达律师事务所</h1>-->
                </div>
            </div>
        </div>
    </div>

</header>



<!--++++++++++++++++++-->
<!--<img class="img-fluid" src="https://source.unsplash.com/Mn9Fa_wQH-M/800x450" alt="Demo Image">-->
<div class="row gx-5 justify-content-center">
    <img src="" alt="Lady Justice and a Gavel" loading="lazy" srcset="/images/WANGYE/logo.png ">
</div>

<h2 class="section-heading">简介</h2><hr>

<div class="col-lg-8 col-md-10 mx-auto">
    <p>吉林孚达律师事务所是由多名资深律师发起的合伙制律师事务所，于2006年3月经吉林省司法厅批准成立，是吉林省律师界信用等级最高级的“AAA”级律师事务所，
    也是吉林省司法厅指定的律师实习基地，曾多次被评为省、州司法行政系统先进律师事务所。事务所现有合伙人6人，专职律师15人，其中博士1人，硕士研究生4人。
    <p>位于吉林省延吉市站前街182号倍达创业大厦三楼。</p>
    <p>吉林孚达律师事务所创立至今，秉持 “诚信为本、操守为重”的理念，为数以千计客户提供全方位、多层次、高效率的法律服务。</p>
    <p>形成了在政府法务、金融、房地产、涉外、公司法律事务、刑事、民事、医疗、交通等专业领域的法律服务品牌优势。</p>
    <p>吉林孚达律师事务所成立至今先后为延边州人民政府、图们市人民政府、
    延边州自然资源局、延边州财政局、延边州安监局、 图们市文广旅局、图们市消防大队、龙井市生态环境局、
    吉林烟草工业有限公司(卷烟厂)、中国邮政储蓄银行延边分行、中国农业发展银行、古林省民航机场集团有限公司延吉机场分公司、
    延古万达广场、延吉市规划设计院有限公司，天池集团房地产开发有限公司、延吉市董存瑞部队、延古机场空军部队、延边龙盛房地产开发有限公司、
    延边伟业食品公司、延边佳良(真味明太鱼)食品有限公司、延边瀚苑房地产开发有限公司、延古市第七中学、延边职业技术学院等多家政府机关及企事业单位担任常年法律顾问，
    并成为延边州人民政府法律顾问团成员。
    <p>孚达人深知，欲成大事，不仅需成大事之心，亦需成大事之人。拥握济济人才，
    是孚达的理想与追求。吉林孚达律师事务所拥有一支高素质的律师团队，他们具有扎实的法律理论知识和丰富的实践经验，对法律和法规的理解深入透彻，
    能够为客户提供全方位的法律服务。</p>
    <p>“全面考量、步步为营”是吉林孚达律师事务所为客户设计律法服务方案的宗旨和理念。针对不同法律领域设立专门负责人制度，
    在强调专业化分工的同时，可随时为客户召集不同领域律师，组建专业法律服务团队，在首席顾问律师的带领下，通过案件集体讨论制度，将律师的个人优势和集体智慧结合起来，
    更好地维护当事人的合法权益。我们深信，凭借丰富的法律实践经验、高超的法律实务技巧、良好的团队合作精神，吉林孚达律师事务所一定能为客户提供优质、高效、良好的法律服务，
        为客户事业的发展作出贡献。</p>
        <p>面对明天，孚达人满怀信心，无论现在还是将来，孚达永远恪守“诚信为本、操守为重”的理念，秉承“服务专业、勇于竞争，开拓进取”的精神，
    充分调动一切人力、社会资源和各种积极因素，群策群力，尽职尽责，以最优良的服务，使海内外客户的最大权益得到维护，走向更加辉煌灿烂的未来。</p>
</div>
<br>
<hr>






